:root {
    --padding : 14px;
    --margin : 8px;

    --main_color : #12c2da;
    --secondary_color : #d1565e;
    --third_color : #f1f1f1;
    --valid_color : #4CAF50;
    --wrong_color : #f44336;
}

body {
    font-family: Arial, sans-serif;
}

.login-container {
    width: 300px;
    padding: var(--padding);
    background-color: var(--third_color);
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 4px;
}

.login-container input[type=text], .login-container input[type=password] {
    color: white;
    padding-top: var(--padding);
    padding-bottom: var(--padding);
    margin: var(--margin) 0;
    border: none;
    width: 100%;
    opacity: 0.9;
}

.login-container button {
    background-color: var(--valid_color);
    color: var(--third_color);
    padding: var(--padding);
    margin: var(--margin) 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.login-container button:hover {
    opacity:1;
}